@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy</p>
<p>Product Id is:@Model.Product_id</p> *@

<h2>Welcome</h2>
<div class="container">
    <div class="row border p-2">
        <div class= "border col-lg-6 col-sm-12">
            <h4>SignUp</h4>
            <img src="~/image.jpg"/>
        </div>
        <div class="border col-lg-6 col-sm-12">
            <h4>Login</h4>
        </div>
    </div>
</div>